

header{
    height: 450px;
    background-image:linear-gradient(to right,darkblue,red,green);
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    align-content: center;
    color: aliceblue;
    word-spacing: 2px;
    text-align: center;
}
header h3{
    margin: 0px;
    color: whitesmoke;
    padding: 10px;
    font-size: 25px;
} 
header h1{
    width:100%;
    margin: auto;
    font-size: 35px;
    padding: 10px;
}
header a{
    color: azure;
    padding: 10px;
    font-size: 17px;
    margin: auto;
    display: inline-block;
    text-decoration: none;
}

header h2{
  width: 100%;
}
header button{
   color: rgb(196, 199, 193);
   background-color: chocolate;
   border-radius: 10px;
   font-size:25px;
   margin-top:30px;
   border: 0px;
   padding: 10px;
}
header button:hover{
    background-color: blanchedalmond;
}
header button:active{
    background-color: rgb(193, 196, 11);
}
/* ============================================================================ */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    margin: auto;
    height: 400px;
     gap: 10px;

}
img{
height: 400px;
margin: auto;
}

 body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0px;
}
main div {
    margin: auto;
}
#kurs{
  margin: auto;
  transform: translateY(-100px);
  padding: 10px;
  text-align: center;
  align-items: center;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}
.card {
    background: white;
    width: 260px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}
.icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #555;
}
.card h3{
    margin-bottom: 8px;
    font-size: 20px;
    color: #555;
}
.card p {
    color: #555;
    font-size: 15px;
}
.reviews {
    width: 80%;
    margin: 40px auto;
    font-family: sans-serif;
}

.reviews h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
.review-card {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.review-card p {
    font-size: 18px;
    margin-bottom: 10px;
}

.review-card span {
    font-weight: bold;
    color: #555;
} 
.afzalik {
   width: 100%;
   margin: 0 200px;
   padding: 10px;
}
.tort{
    text-align: center;
}
.joha{
    text-align: center;
    margin-top: 250px;
}
.b2{
   display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px; 
}
.b3{
    background: white;
    width: 260px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}
.b2 :hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}
.suxa{
     text-align: center;
    margin-top: 250px;
}
.m2{
   display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;  
}
.m3{
background: white;
    width: 260px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}
